.logistic-data {
  border-radius: var(--border-radius);
  padding: 29px 15px 40px;

  box-shadow: 0 20px 30px rgba(0, 0, 0, .05);
}

.logistic-data__title {
  padding-left: 10px;
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 700;
  letter-spacing: .4px;
}

.logistic-data__table-col--1 {
  min-width: 144px;
}

.logistic-data__table-col--2 {
  min-width: 135px;
}

.logistic-data__table-col--3 {
  min-width: 135px;
}

.logistic-data__table-col--4 {
  min-width: 163px;
}

.logistic-data__table-col--5 {
  width: 100%;
}

.logistic-data__table-col--6 {
  min-width: 138px;
}

.logistic-data__gallery {
  display: flex;
  justify-content: center;
}
